//Roboto font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: row;

  .left-container {
    position: relative;
    width: 50%;
    height: 100vh;

    .left-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 20px;
      align-items: center;
      height: 60px;
      padding: 0 30px;
      color: #ffffff;
      background-color: #87ceeb;
      font-size: 20px;

      h2 {
        flex: 1;
        font-size: 18px;
        text-align: center;
      }
      i {
        cursor: pointer;
      }
    }
    .images-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      height: 260px;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      background-color: #87ceeb;

      .fa-xmark {
        position: absolute;
        right: 10px;
        cursor: pointer;
      }

      .input-wrapper {
        width: 100%;
        height: 200px;

        padding: 50% 0 0;
        text-align: center;

        input[type="file"] {
          margin-top: 20px;
        }
      }

      input[type="submit"] {
        width: 80px;
        height: 30px;
        margin-top: 30px;
        background-color: #fff;
        color: #87ceeb;
        border: none;
        cursor: pointer;
      }
    }
  }

  .right-container {
    width: 50%;
    height: 100vh;
    background-color: aquamarine;
  }

  .calandar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #87ceeb;
    .ui-datepicker-inline {
      width: 500px;
    }
  }
}
