//Roboto font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: row;

  .left-container {
    width: 50%;
    height: 100vh;

    .left-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #87ceeb;
      height: 60px;
      padding: 0 30px;
      color: #ffffff;
      font-size: 20px;

      h2 {
        font-size: 18px;
      }
    }
  }

  .right-container {
    width: 50%;
    height: 100vh;
    background-color: aquamarine;
  }
}
