/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

header img {
    margin-top: -40px;
}

main {
    width: 37vw;
    margin: auto;
}


#tabContainer {
    border: none;
    background-color: transparent;
}

#tabContainer ul {
    display: flex;
    column-gap: 10px;
    border: none;
    background-color: transparent;
    padding-left: 15px;
}

#tabContainer li {
    background: #000;
    width: 120px;
    height: 35px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}

#tabContainer li.ui-tabs-active .ui-tabs-anchor,
li.ui-state-disabled .ui-tabs-anchor {
    border-radius: 5px 5px 0 0;
    background-color: #071b6d;
    width: 120px;
    height: 35px;
}

#tabContainer a {
    color: #fff;
    padding: 10px 22px;
}

#tab-display-area {
    box-shadow: #0000003d 0px 3px 8px;
    padding: 20px 10px 10px 10px;
    height: 60vh;
    overflow-y: auto;
}

/* tab 1 */
#about-tab p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}

#about-tab img {
    height: 250px;
}

/* tab 2 */
#solutions-tab {
    border: none;
    margin-top: -16px;
    font-size: 11px;
    font-weight: 300;
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e{
    background-image: url("http://code.jquery.com/ui/1.13.2/themes/base/images/ui-icons_ffffff_256x240.png");
}

#solutions-tab .ui-widget-content{
    border: 1px solid #838db6;
    border-radius:0 ;
}

#solutions-tab .ui-state-default,
.ui-widget-content .ui-state-default {
    color: #fff;
    background-color: #838db6;
    border-radius:0;
    height: 39px;

}

#solutions-tab h3 {
    margin-top: 10px;
    padding: 11px;
    font-size: 12px;
    font-weight: 600;
}

/* tab 3 */
.location-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 12px;
}

.location-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: #eee;
    padding: 15px;
}

.location-card p:nth-child(2){
    width: 150px;
}
.location-card p:nth-child(3){
    width: 150px;
}

.location-card img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.location-container div:nth-child(even) {
    background-color: #eed8f3;
}

